<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header class="">
        <div class="header wrapper">
            <div class="logo">
               <a href="/inicio">AlloyWater</a>
            </div>
            <div class="header__option">
                <a href="/buy" class="header__option--normal">Comprar</a>
                <a href="/about" class="header__option--normal">Nosotros</a>
            </div>
        </div>
    </header>
    <div class="general wrapper">
        <section class="hero">
            <div>
                <img src="./img/FotoPortada.jpg" alt="">
            </div>
        </section>
        <section class="body wrapper">
            <h1 style="font-size: 40px">Ultimo</h1>
            <div class="display">
                <div class="poster">
                    <div class="posterImg">
                        <img src="./img/Termo1.webp" alt="" width="300px" class="posterImg-">
                    </div>
                    <div class="posterContent">
                        <h2>Termo de aluminio blanco</h2>
                        <p>Este termo está hecho de 100% de aluminio reciclado pintado de color blanco</p>
                    </div>
                </div>
                <div class="poster">
                    <div class="posterImg">
                        <img src="./img/Termo2.png" alt="" width="300px" class="posterImg-">
                    </div>
                    <div class="posterContent">
                        <h2>Termo de aluminio verde</h2>
                        <p>Este termo está hecho de 100% de aluminio reciclado pintado de color verde</p>
                    </div>
                </div>
                <div class="poster">
                    <div class="posterImg">
                        <img src="./img/Termo3.png" alt="" width="300px" class="posterImg-">
                    </div>
                    <div class="posterContent">
                        <h2>Termo de aluminio plateado</h2>
                        <p>Este termo está hecho de 100% de aluminio reciclado de color plateado</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>